* {
    margin: 0;
    padding: 0;
}

/* Main container designing */
#main_container {
    margin: 0;
    height: 100vh;
    display: flex;
    background-color: rgba(132, 211, 118, 1);
}

#folder_options_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 2px solid red;
}

#folder_options_container div {
    margin: 10px;
    color: rgb(11, 9, 13);
    font-weight: 700;
    font-size: 20px;
}

/* side-boar / toolbar design */
#toolbar {
    position: fixed;
    top: 15vh;
    left: 0;
    width: 70px;
    height: 70%;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3px;
    margin-left: 10px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    z-index: 10;
    ;

}

#toolbar button,
#toolbar div {
    width: 70px;
    height: 70px;
    border: 3px solid rgb(184, 178, 178);
    border-radius: 20%;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    font-size: 35px;
    background-color: aliceblue;
}

#toolbar #shapes_container {
    position: absolute;
    top: 0;
    left: 80px;
    width: 155px;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;

}

#toolbar #shapes_container {
    display: none;
}

#textSize_input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textSize_input_container #text_size {
    position: absolute;
    left: 100px;
    bottom: 27px;
    display: none;

}

/* Navingation bar designing */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

/* Navigation Anchor tag button styling - moving to differnt
webpages/html files */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 500;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Create Note cell designing for the home page */
.navbar #create_note {
    background: #ddd;
    color: black;
}

#left_right_scroll {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 10px;
    top: 60px;
    z-index: 10;
    border-radius: 50%;
}

/* left side container design */
#left_container {
    display: flex;
    width: 45vw;
    height: 100vh;
    background-color: beige;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#left_container .left_main_elements_container {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

/* Styling for textarea */
#text_area {
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    padding: 30px;
    font-size: 17px;
    height: 300px;
    width: 70%;
    background-color: rgb(34, 51, 68);
    color: rgb(166, 154, 154);
    font-weight: 500;
}

/* Notes heading and location input container */
#notes_heading,
#notes_location_info {
    width: 70%;
    height: 60px;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 10px;
    top: 50px;
    font-size: 20px;
    font-weight: 400;
}

.color_pick {
    margin-top: 20px;
}

.color_label {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0;
    font-style: italic;
}

/* Background and text colour choose option */
#color {
    height: 50px;
    width: 50px;
    border-radius: 20%;
    align-items: center;
}

/* AI button to open Gimini chat bot */
#ai {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 248, 246);
    border-radius: 50%;
    font-size: 35px;
    font-weight: 600;
    border: 4px solid rgb(28, 170, 101);
    position: absolute;
    bottom: 80px;
    left: 40%;
}

/* Add note / plus button container  */
#button {
    margin-top: 60px;
    border-radius: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 80px;
    left: 40%;
    display: flex;
}

/* Desighing plus ( + ) symbol inside the button container */
#add_note {
    font-size: 50px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    font-weight: 500;
    padding: 4px;
    margin: 2px;
}

/*  ..... Code for the contents and containers on the right side   */

#right_container {
    width: 55vw;
    overflow-y: auto;
    margin-top: 58px;
}

/* It is the right side container where all sticky note are added */
#notes_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px 10px;
}

/* Sticky notes heading and content text alignment */
h1,
p {
    display: flex;
    justify-content: center;
}

/* Styling of Gemini AI chat container  */
#ai_container {
    height: 820px;
    width: 840px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    position: absolute;
    bottom: 150px;
    gap: 0;
    margin: 0;
}

#ai_container {
    display: none;
}

/* AI Question input container */
#ai_input_container_div {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#ai_input_container_div {
    display: none;
}

/* Question input cell  */
#ai_input {
    padding: 0;
    margin: 0;
    width: 90%;
    padding: 10px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(246, 248, 246);
    border-right-color: rgb(246, 248, 246);
}

#ai_input :hover {
    background-color: #ccd7d8;
}

/* Styling of button for asking question */
#ai_answer_generate_button {
    font-weight: bold;
    width: fit-content;
    height: 74px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left-color: rgb(246, 248, 246);
    padding: 0;
    margin: 0;
}

#ai_answer_generate_button_image {
    height: 66px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0px;
    margin: 0px;
}

#ai_answer_generate_button:hover {
    background-color: #ccd7d8;
}

/* Styling of Generated answer by Gemini */
#ai_output_container_div {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(126, 244, 90);
    max-height: 750px;
    margin: 0;
    padding: 0;
    animation-name: ai_output_animation;
    animation-duration: 10s;
    animation-timing-function: linear;
    border-radius: 10px;
}

#ai_output_question {
    border: 3px solid black;
    min-height: 40px;
    max-height: 60px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 20px;
}

#ai_output_answer {
    overflow-y: auto;
    margin: 30px;
    font-weight: 500;
    font-size: 20px;
}

/* #ai_output_question:hover {
    background-color: #ccd7d8;
} */
/* All the following styles are referenced from Script files 
 ----- Has no relation with any html files */
/* Designing of sticky notes */
/* Location popup  */
#location_popup_div {
    max-width: 500px;
    min-width: 200px;
    background-color: rgb(248, 241, 242);
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-30%, -24%);
    z-index: 1000;
    border: 2px solid green;
    display: none;
    flex-direction: column;
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
}

#edit_note_popup_div {
    max-width: 500px;
    min-width: fit-content;
    background-color: rgb(248, 241, 242);
    position: absolute;
    bottom: 16%;
    right: 3%;
    /* transform: translate(100%, 90%); */
    z-index: 1000;
    border: 2px solid green;
    display: none;
    flex-direction: column;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    padding: 5px;
}

#create_notes_heading {
    color: rgb(31, 11, 30);
    font-size: 20px;
    background-color: rgb(161, 209, 232);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#heading_cross_div {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 0;
    margin-right: 25px;
    font-size: 15px;
    font-weight: 700;
    background-color: white;
    height: 25px;
}

#sticky_note_content {
    height: 281px;
    width: 100%;
    overflow-y: auto;
    margin-left: 5px;
    text-indent: 20px;
}

/* All animation codes are here  */
@keyframes ai_output_animation {
    0% {
        opacity: 0;
        height: 0;
    }

    15% {
        opacity: 0.25;
        height: 100px;
    }

    30% {
        opacity: 0.5;
        height: 200px;
    }

    45% {
        opacity: 0.75;
        height: 300px;
    }

    60% {
        opacity: 1;
        height: 400px;
    }

    75% {
        height: 500px;
    }

    90% {
        height: 600px;
    }

    100% {
        height: 670px;
    }
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-180deg);
    }
}

/* @keyframes rotate_refresh_content {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }

} */